:root {
    --color-brand: #4C4F78;
    --color-brand-dark: #3B3558;
    --color-brand-light: #D6E0ED;
    --color-white: #FFFFFF;
    --color-transparent: rgba(255, 255, 255, 0.8);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: var(--color-brand-light);
    margin: 0;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: var(--color-brand-dark);
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    border-radius: 1rem;
    z-index: 3;
    font-size: 1.25rem;

    .logo {
        font-weight: 700;
    }

    a {
        color: var(--color-brand-light);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

h1 {
    text-align: center;
    max-width: 37rem;
    padding: 4rem 1.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}


p,
a {
    line-height: 1.4;
    font-size: 1.25rem;
}

main {
    padding-top: 64px;
    color: var(--color-brand);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
        font-size: 4rem;
    }
}

figure {
    margin: 0;
    height: auto;
    border-radius: 1rem;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 100%;
    ;
    max-width: 52rem;
}

.button {
    background: var(--color-brand-light);
    color: var(--color-brand);
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 1rem;
    font-size: 1.25em;
    text-decoration: none;
    line-height: 1;
}
.button:hover {
    background: var(--color-brand-dark);
    color: var(--color-brand-light);
}

/* Sections */
.intro {
    position: relative;
    align-items: flex-start;
    gap: 4rem;
    padding: 0 1.5rem 4rem 1.5rem;

    figure {
        flex: 1;
        margin: 0;
        overflow: hidden;
        transform: rotate(-2deg);
        border: 2px solid var(--color-brand);
    }

    div {
        flex: 1;
    }
}

.intro::before {
    content: '';
    width: 500px;
    height: 500px;
    background: var(--color-transparent);
    position: absolute;
    top: -100px;
    left: -100px;
    border-radius: 50%;
}

.projects {
    width: 100%;
    background: var(--color-brand);
    color: var(--color-brand-light);
    display: flex;
    justify-content: center;
    padding: 4rem 1.5rem;

    article {
        padding: 2rem 0;
        align-items: flex-start;
        border-top: solid 2px var(--color-brand-dark);
    }

    article>* {
        flex: 1;
    }

    article div {
        padding-right: 4rem;
    }

    figure {
        margin-top: 2rem;
        border: solid 2px var(--color-brand-light);
        transform: rotate(2deg);
    }
}

.detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.detail figure {
    border: 2px solid var(--color-brand);
}

.detail > * + * {
    margin-top: 1.5rem;
}

footer {
    background: var(--color-brand-dark);
    width: 100%;
    padding: 3rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        text-decoration: underline;
        color: var(--color-brand-light);
    }
}

.scrollCheck {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.inView {
    opacity: 1;
}


@media screen and (min-width: 768px) {

    header {
        flex-direction: row;
    }

    .intro {
        display: flex;
    }

    .projects article {
        display: flex;
    }

    .projects figure {
        margin-top: 0;
    }

}